@CHARSET "UTF-8";



.headerAndFooterDiv {
	width: 100%;
	height: 100%;
	border: 2px black solid;

}

/* CSS addNewsPage.jsp */

#addNewsTextArea {
	overflow: scroll;
}

.inputInfoDiv {
	float: left;
	margin-right: 40px;
	margin-left: 30px;
	width: 80px;
	font-weight: bold;
}

.inputDiv {
	margin-top: 10px;
	margin-bottom: 20px;
	
}

#bottomAddNewsAddPage {
	float: right;
	margin-right: 85px;
	margin-bottom: 20px;
	
}

#tableSearchAddNewsPage {
float: right;
margin-right: 87px;

}

/* CSS adminHome */

#titleButton {
	text-decoration: none;
	color: black;
}

#mainBody {
	border: 1px solid;
	border-color: #CCCCCC;
	padding: 10px;
}

#newsAuthorDiv {
	height: 100%;
	width: 200px;
	float: left;
}

#newsCreationDateDiv {
	height: 100%;
	width: 200px;
	float: right;
	text-decoration: underline;
}

#newsShortTextDiv {
	height: 100%;
	width: 780px;
	
}

#newsTagsDiv {
	height: 100%;
	width: 300px;
	float: right;
}

#newsCommentsDiv {
	height: 100%;
	width: 150px;
	float: right;
}

#linkReadMoreDiv {
	height: 100%;
	width: 150px;
	float: right;
}

#paginationDiv {
	height: 100%;
	width: 600px;
	text-align: center;
	float: none;
	bottom: 0px;
	margin: auto;
}

.paginationLink {
	color: black;
} 

.paginationLink:VISITED {
	color: black;
}

.paginationLinkFL {
	text-decoration: none;
	color: black;
}

.paginationLinkFL:VISITED {
	text-decoration: none;
	color: black;
}

#paginForm {
	display: inline-block;
}



#searchMainDiv {
	width: 550px;
	height: 100%;
	 margin: auto;
}

#selectAndCheapBoxAreaDiv {
	
	border: 1px green solid;
	height: 100%;
	width: 600px;
	
}

#selectAuthorsDiv {
border: 1px red solid;
width: 200px;
height: 100%;

}

#tableSearch {
float: left;
}



/* CSS Search Form  */

.multiselect {
 width: 200px;
  
}
 
.selectBox {
 position: relative;
}
 
.selectBox select {
 width: 100%;
}
 
.overSelect {
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
}
 
#checkboxes {
 position: absolute;
 background-color: #ffffff;
 width: inherit;
 display: none;
 border: 1px #dadada solid;  
}
 
#checkboxes label {
 display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}



/* CSS authorsPage */

.inputAuthorDiv {
	float: left;
	margin-left: 30px;
	width: 150px;
	font-weight: bold;
}

.inputAreaAuthorDiv {
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
}

#bottomAddAuthor {
	background-color: white;
	border: 0px;
	text-decoration: underline;
	color: blue;
	font-weight: bold;
	margin-bottom: 30px;
}

#bottomAddAuthor:HOVER {
	color: black;
	text-decoration: none;
}

.buttomMenuEdit {
	background-color: white;
	border: 0px;
	text-decoration: underline;
	color: blue;
	font-weight: bold;
	margin-bottom: 30px;
}

.buttomMenuEdit:HOVER {
	color: black;
	text-decoration: none;
}

#mainAuthorsPageDiv {
	width: 100%;
	height: 100%;
	margin-top: 30px;
}

#buttonArea {
	/* width: 300px;
height:20px;	
border: 1px black solid;  */
	
}

#buttonEdit {
	/* float: left; */
	
}

#inputAuthorName {
	background-color: #E3E3E3;
	border: 1px solid;
	border-color: #C7C7C7;
	padding-left: 5px;
}


/* CSS editAuthorsPage */

.inputAuthorDiv {
	float: left;
	margin-left: 30px;
	width: 150px;
	font-weight: bold;
}

.inputAreaAuthorDiv {
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
}

#bottomAddAuthor {
	background-color: white;
	border: 0px;
	text-decoration: underline;
	color: blue;
	font-weight: bold;
	margin-bottom: 30px;
}

#bottomAddAuthor:HOVER {
	color: black;
	text-decoration: none;
}

.buttomMenuEdit {
	background-color: white;
	border: 0px;
	text-decoration: underline;
	color: blue;
	font-weight: bold;
	margin-bottom: 30px;
}

.buttomMenuEdit:HOVER {
	color: black;
	text-decoration: none;
}

#mainAuthorsPageDiv {
	width: 100%;
	height: 100%;
	margin-top: 30px;
}

#inputAuthorName {
	background-color: #E3E3E3;
	border: 1px solid;
	border-color: #C7C7C7;
	padding-left: 5px;
}

#inputAuthorNameTrue {
	background-color: white;
	border: 1px solid;
	border-color: #C7C7C7;
	padding-left: 5px;
}

.buttomAuthorAction {
	border: 1px solid black;
	display: inline;
}

#buttonAction {
float: left;	
}
#buttonAction2 {
float: left;
}


/* CSS editSingleNews */
#mainBody {
	border: 1px solid;
	border-color: #CCCCCC;
	padding: 10px;
}

#newsTitleDiv {
	font-weight: bold;
	height: 100%;
	width: 500px;
	float: left;


}

#newsAuthorDiv {
	height: 100%;
	width: 200px;
	float: left;
	padding-top: 10px;
}

#newsCreationDateDiv {
	height: 100%;
	width: 200px;
	float: right;
	text-decoration: underline;

}

#newsShortTextDiv {
	height: 100%;
	width: 780px;
	padding-top: 10px;
}

#newsTagsDiv {
	height: 100%;
	width: 300px;
	float: right;
	
}

#newsCommentsDiv {
	height: 100%;
	width: 150px;
	float: right;
	margin-bottom: 15px;
}

#linkReadMoreDiv {
	height: 100%;
	width: 150px;
	float: right;
}

#paginationDiv {
	height: 100%;
	width: 600px;
	text-align: center;
	float: none;
	bottom: 0px;
	margin: auto;
}

#paginForm {
	display: inline-block;
}


#searchMainDiv {
	width: 550px;
	height: 100%;
	 margin: auto;
}

#selectAndCheapBoxAreaDiv {
	
	border: 1px green solid;
	height: 100%;
	width: 600px;
	
}

#selectAuthorsDiv {
border: 1px red solid;
width: 200px;
height: 100%;

}

#tableSearch {
float: left;
}

/* #newsTitleDiv {
	font-weight: bold;
	height: 100%;
	width: 400px;
	float: left;
} */

#newsAuthorDiv {
	height: 100%;
	width: 150px;
	float: left;
}

#newsCreationDateDiv {
	height: 100%;
	width: 200px;
	float: right;
	text-decoration: underline;
	padding-top: 10px;
}

#newsFullTextDiv {
	height: 100%;
	width: 65%;
	padding-top: 20px;
}

#newsCommentsDiv {
	margin-left: 0px;
	width: 100%;
	border: 1 px black solid;
}

#newsCommentsTextDiv {
	margin-right: 30px;
	width: 450px;
	background-color: #D1D1D1;
	min-height: 30px;
	word-wrap:break-word;
}

#newsCommentCreationDateDiv {
	text-decoration: underline;
		
}

#textDiv {
width: 400px;
border: 1px solid black;
min-height: 30px;	
float: left;
}

#commentForm {
	padding-top: 30px;
	
}

#bottomPostComment {
	margin-top: 5px;
}

#buttomDiv {
	margin-left: 0px;
	margin-bottom: 20px;
	
}

#buttomPrevDiv {
	float: left;
	margin-bottom: 15px;
	margin-left: 0px;
}

#buttomNextDiv {
	float: right;
	margin-bottom: 15px;
}

#previousNextButtons {
	height: 30px;
	width: 100%;
	padding-top: 10px;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 20px;
}

#bottomDeleteComment {
width: 18px;
height: 18px;
padding: 3px;
font-size: 11px;

 
}

/* CSS editTagsPage */

.inputAuthorDiv {
	float: left;
	margin-left: 30px;
	width: 150px;
	font-weight: bold;
}

.inputAreaAuthorDiv {
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
}

#bottomAddAuthor {
	background-color: white;
	border: 0px;
	text-decoration: underline;
	color: blue;
	font-weight: bold;
	margin-bottom: 30px;
}

#bottomAddAuthor:HOVER {
	color: black;
	text-decoration: none;
}

.buttomMenuEdit {
	background-color: white;
	border: 0px;
	text-decoration: underline;
	color: blue;
	font-weight: bold;
	margin-bottom: 30px;
}

.buttomMenuEdit:HOVER {
	color: black;
	text-decoration: none;
}

#mainAuthorsPageDiv {
	width: 100%;
	height: 100%;
	margin-top: 30px;
}

#inputAuthorName {
	background-color: #E3E3E3;
	border: 1px solid;
	border-color: #C7C7C7;
	padding-left: 5px;
}

#inputAuthorNameTrue {
	background-color: white;
	border: 1px solid;
	border-color: #C7C7C7;
	padding-left: 5px;
}

.buttomAuthorAction {
	border: 1px solid black;
	display: inline;
}

#buttonAction {
float: left;	
}
#buttonAction2 {
float: left;
}

/* CSS loginPage */

#mainLoginDiv {
	width: 300px;
	height: 400px;
	padding-top: 20%;
	 /* border: 1px black solid; */ 
	margin-left: 20%;
	
}
.laberFormDiv {
float: left;
width: 70px;
}
.form-control {
width: 150px;
}
#buttonLogin {
float: right;
margin-right: 74px;
margin-top: 10px;
}


/* CSS searchPage */









#newsTagsDiv {
	height: 100%;
	width: 300px;
	float: right;
}

#newsCommentsDiv {
	height: 100%;
	width: 150px;
	float: right;
}

#linkReadMoreDiv {
	height: 100%;
	width: 150px;
	float: right;
}

#paginationDiv {
	height: 100%;
	width: 600px;
	text-align: center;
	float: none;
	bottom: 0px;
	margin: auto;
}

#paginForm {
	display: inline-block;
}

#searchMainDiv {
	width: 800px;
	height: 100%;
	/* border: 1px black solid; */
}

#searchMainDiv {
	width: 550px;
	height: 100%;
	margin: auto;
}

#selectAndCheapBoxAreaDiv {
	border: 1px green solid;
	height: 100%;
	width: 600px;
}

#selectAuthorsDiv {
	border: 1px red solid;
	width: 200px;
	height: 100%;
}

#tableSearch {
	float: left;
}

/* CSS tagsPage */

.inputAuthorDiv {
	float: left;
	margin-left: 30px;
	width: 150px;
	font-weight: bold;
}

.inputAreaAuthorDiv {
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
}

#bottomAddAuthor {
	background-color: white;
	border: 0px;
	text-decoration: underline;
	color: blue;
	font-weight: bold;
	margin-bottom: 30px;
}

#bottomAddAuthor:HOVER {
	color: black;
	text-decoration: none;
}

.buttomMenuEdit {
	background-color: white;
	border: 0px;
	text-decoration: underline;
	color: blue;
	font-weight: bold;
	margin-bottom: 30px;
}

.buttomMenuEdit:HOVER {
	color: black;
	text-decoration: none;
}

#mainAuthorsPageDiv {
	width: 100%;
	height: 100%;
	margin-top: 30px;
}

#buttonArea {
	/* width: 300px;
height:20px;	
border: 1px black solid;  */
	
}

#buttonEdit {
	/* float: left; */
	
}

#inputAuthorName {
	background-color: #E3E3E3;
	border: 1px solid;
	border-color: #C7C7C7;
	padding-left: 5px;
}

/* CSS mainTemplate.sjp */

/* .headerAndFooterDiv {
	width: 100%;
	height: 100%;
	border: 2px red solid;

} */

#bodyMainDiv {
	width: 100%;
	height: 100%;
	border-left: 2px black solid;
	border-right: 2px black solid;
	
	
}

#mainDiv {
height: 100%;
width: 1024px;
margin: auto;

}

#menuDiv {
width: 250px;
height: 100%;

}
#bodyDiv {
height: 100%;
width: 750px;

}

#mTable {

padding-top: 0 px;
margin-top: 0px; 

height: 100%;
}
#td  {

}

#notValidDivMessage {
	margin-left:200px;
	margin-bottom:50px;
	color: red;
	font-weight: bold;
}

#messageMissAuthorOrTags {
	margin: auto;
	font-weight: bold;
	margin-top: 70px;
	color: red;
	width: 400px;
	height: 30px;
	float: none;
	
}

#error {
	border: 1px solid;
	text-align: center;
	
}

#authorSelectSearch {
overflow: scroll;
  height: 50px;	
  border: 5px red solid;
}

#currentPaginationLink {
	text-decoration: none;
	
}

#hidden {
	visibility: hidden;
}