@CHARSET "UTF-8";

#footerMainDiv {
	text-align: center;
	height: 30px;
	width: 100%; 
	
}

#mainHeaderDiv {
width: 100%;
	height: 60px;
}

#topHeaderDiv {
	font-size: 45px;
	font-weight: bolder;
	width: 600px;
	height: 100%;
	padding-left: 10px;
	float: left;
}

#localeDiv {

width: 100px;
height: 20px;
float: right;

}

/* CSS mainTemplate.sjp */

#bodyMainDiv {
	width: 100%;
	height: 100%;
	border-left: 2px black solid;
	border-right: 2px black solid;
}

#mainDiv {
	height: 100%;
	width: 1024px;
	margin: auto;
}

#menuDiv {
	width: 250px;
	height: 100%;
}

#bodyDiv {
	height: 100%;
	width: 750px;
}

#mTable {
	padding-top: 0 px;
	margin-top: 0px;
	height: 100%;
}

#td {
	
}

#notValidDivMessage {
	margin-left: 200px;
	margin-bottom: 50px;
	color: red;
	font-weight: bold;
}

#messageMissAuthorOrTags {
	margin: auto;
	font-weight: bold;
	margin-top: 70px;
	color: red;
	width: 400px;
	height: 30px;
	float: none;
}

#error {
	border: 1px solid;
	text-align: center;
}

#authorSelectSearch {
	overflow: scroll;
	height: 50px;
	border: 5px red solid;
}

#currentPaginationLink {
	text-decoration: none;
}

#hidden {
	visibility: hidden;
}