/* CSS clientHome */

#mainBody {
	border: 1px solid;
	border-color: #CCCCCC;
	padding: 10px;
}

#newsTitleDiv {
	font-weight: bold;
	height: 100%;
	width: 500px;
	float: left;
}

#newsAuthorDiv {
	height: 100%;
	width: 200px;
	float: left;
}

#newsCreationDateDiv {
	height: 100%;
	width: 200px;
	float: right;
	text-decoration: underline;
}

#newsShortTextDiv {
	height: 100%;
	width: 780px;
}

#newsTagsDiv {
	height: 100%;
	width: 300px;
	float: right;
}

#newsCommentsDiv {
	height: 100%;
	width: 150px;
	float: right;
}

#linkReadMoreDiv {
	height: 100%;
	width: 150px;
	float: right;
}

#paginationDiv {
	height: 100%;
	width: 600px;
	text-align: center;
	float: none;
	bottom: 0px;
	margin: auto;
}


.paginationLink {
	color: black;
} 

.paginationLink:VISITED {
	color: black;
}

.paginationLinkFL {
	text-decoration: none;
	color: black;
}

.paginationLinkFL:VISITED {
	text-decoration: none;
	color: black;
}

#currentPaginationLink {
	text-decoration: none;
	
}

#paginForm {
	display: inline-block;
}

#searchMainDiv {
	width: 550px;
	height: 100%;
	margin: auto;
}

#selectAndCheapBoxAreaDiv {
	border: 1px green solid;
	height: 100%;
	width: 600px;
}

#selectAuthorsDiv {
	border: 1px red solid;
	width: 200px;
	height: 100%;
}

#tableSearch {
	float: left;
}

/* CSS Search */

.multiselect {
	width: 200px;
}

.selectBox {
	position: relative;
}

.selectBox select {
	width: 100%;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#checkboxes {
	position: absolute;
	background-color: #ffffff;
	width: inherit;
	display: none;
	border: 1px #dadada solid;
}

#checkboxes label {
	display: block;
}

#checkboxes label:hover {
	background-color: #1e90ff;
}


/* CSS mainTemplate */

.headerAndFooterDiv {
	width: 100%;
	height: 100%;
	border: 2px black solid;
	padding: 10px;
}

#bodyDiv {
	width: 100%;
	height: 100%;
	border-left: 2px black solid;
	border-right: 2px black solid;
	padding: 10px;
}

#mainDiv {
height: 100%;
width: 1024px;
margin: auto;
}

/* CSS showSingleNews */


}

#buttomDiv {
	margin-left: 0px;
	margin-bottom: 20px;
}

#buttomPrevDiv {
	float: left;
	margin-bottom: 15px;
	margin-left: 0px;
}

#buttomNextDiv {
	float: right;
	margin-bottom: 15px;
	margin-right: 90px;
}

#previousNextButtons {
	height: 30px;
	width: 100%;
	padding-top: 10px;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 20px;
}

/* CSS showSingleNews */

#newsTitleDivSShN {
	font-weight: bold;
	height: 100%;
	width: 500px;
	float: left;
	margin-left: 30px;
}

#newsAuthorDivSShN {
	height: 100%;
	width: 200px;
	float: left;
	margin-left: 30px;
}

#newsCreationDateDivSShN {
	height: 100%;
	width: 200px;
	float: right;
	text-decoration: underline;
	margin-left: 30px;
}

#newsFullTextDivSShN {
	height: 100%;
	width: 75%;
	margin-left: 30px;
}

#newsCommentsDivSShN {
	margin-left: 0px;
	width: 100%;
	border: 1 px black solid;
	margin-left: 30px;
}

#newsCommentsTextDivSShN {
	width: 450px;
	background-color: #D1D1D1;
	margin-left: 30px;
}

#newsCommentCreationDateDivSShN {
	text-decoration: underline;
	margin-left: 30px;
}

#commentFormSShN {
	padding-top: 30px;
	margin-left: 30px;
}

#bottomPostCommentSShN {
	margin-top: 5px;
	margin-left: 30px;
}

#buttomDivSShN {
	margin-left: 0px;
	margin-bottom: 20px;
	margin-left: 30px;
}

#buttomPrevDivSShN {
	float: left;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-left: 30px;
}

#buttomNextDivSShN {
	float: right;
	margin-bottom: 15px;
	margin-left: 30px;
	margin-right: 90px;
}

#previousNextButtonsSShN {
	height: 30px;
	width: 100%;
	padding-top: 10px;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 20px;
	margin-left: 30px;
}

#error {
	border: 1px solid;
	text-align: center;
	
}

#hidden {
	visibility: hidden;
}