

/* CSS mainTemplate */

.headerAndFooterDiv {
	width: 100%;
	height: 100%;
	border: 2px black solid;
	padding: 10px;
}

#bodyDiv {
	width: 100%;
	height: 100%;
	border-left: 2px black solid;
	border-right: 2px black solid;
	padding: 10px;
}

#mainDiv {
height: 100%;
width: 1024px;
margin: auto;
}



#error {
	border: 1px solid;
	text-align: center;
	
}

#hidden {
	visibility: hidden;
}

#footerMainDiv {
text-align: center;
height: 30px;
width: 100%;
}

#mainHeaderDiv {
	width: 100%;
	height: 60px;
}

#topHeaderDiv {
	font-size: 45px;
	font-weight: bolder;
	width: 400px;
	height: 100%;
	padding-left: 10px;
	float: left;
}

#localeDiv {
	width: 100px;
	height: 20px;
	float: right;