@CHARSET "UTF-8";

/* CSS showSingleNews */


}

#buttomDiv {
	margin-left: 0px;
	margin-bottom: 20px;
}

#buttomPrevDiv {
	float: left;
	margin-bottom: 15px;
	margin-left: 0px;
}

#buttomNextDiv {
	float: right;
	margin-bottom: 15px;
	margin-right: 90px;
}

#previousNextButtons {
	height: 30px;
	width: 100%;
	padding-top: 10px;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 20px;
}

/* CSS showSingleNews */

#newsTitleDivSShN {
	font-weight: bold;
	height: 100%;
	width: 500px;
	float: left;
	margin-left: 30px;
}

#newsAuthorDivSShN {
	height: 100%;
	width: 200px;
	float: left;
	margin-left: 30px;
}

#newsCreationDateDivSShN {
	height: 100%;
	width: 200px;
	float: right;
	text-decoration: underline;
	margin-left: 30px;
}

#newsFullTextDivSShN {
	height: 100%;
	width: 75%;
	margin-left: 30px;
}

#newsCommentsDivSShN {
	margin-left: 0px;
	width: 100%;
	border: 1 px black solid;
	margin-left: 30px;
}

#newsCommentsTextDivSShN {
	width: 450px;
	background-color: #D1D1D1;
	margin-left: 30px;
}

#newsCommentCreationDateDivSShN {
	text-decoration: underline;
	margin-left: 30px;
}

#commentFormSShN {
	padding-top: 30px;
	margin-left: 30px;
}

#bottomPostCommentSShN {
	margin-top: 5px;
	margin-left: 30px;
}

#buttomDivSShN {
	margin-left: 0px;
	margin-bottom: 20px;
	margin-left: 30px;
}

#buttomPrevDivSShN {
	float: left;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-left: 30px;
}

#buttomNextDivSShN {
	float: right;
	margin-bottom: 15px;
	margin-left: 30px;
	margin-right: 90px;
}

#previousNextButtonsSShN {
	height: 30px;
	width: 100%;
	padding-top: 10px;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 20px;
	margin-left: 30px;
}